footer{
    padding: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .router-wrapper{
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .hyphen{
        margin: 20px 0px;
        width: 100%;
        background-color: black;
        height: 1px;
    }

    h2{
        font-weight: 400;
    }

    p{
font-weight: 200;
    }
}